{% extends "base.html" %}

{% block title %}Форма ввода события{% endblock %}

{% block extra_head %}
<link rel="stylesheet" href="/beebeard/frontend/static/style/create_event.css">
{% endblock %}

{% block content %}
<div class="container">
    <form id="eventForm">
        <div class="form-group">
            <label for="summary">Название события*</label>
            <input type="text" id="summary" value="{{context.summary}}" required>
        </div>
        <div class="form-group">
            <label for="location">Локация / Место</label>
            <input type="text" id="location" value="{{context.location}}">
        </div>
        <div class="form-group">
            <label for="initiatorEmail" >Email инициатора*</label>
            <input type="email" id="initiatorEmail" value="{{context.initiator}}" required>
        </div>
        <div class="form-group" id="inputs-container">
            <label>Email других участников</label>
        </div>
        <button type="button" onclick="addInputField()">Добавить участника</button>
        <div class="form-group">
            <label for="startDateTime">Дата и Время начала*</label>
            <input type="datetime-local" id="startDateTime" required value="{{context.start}}">
        </div>
        <div class="form-group">
            <label for="endDateTime">Дата и Время окончания*</label>
            <input type="datetime-local" id="endDateTime" required value="{{context.end}}">
        </div>
        <div class="form-group">
            <label for="recurrence">Указать частоту повторений мероприятия*</label>
            <select id="recurrence" required>
                <option value="null">Не повторять</option>
                <option value="RRULE:FREQ=DAILY">Ежедневно</option>
                <option value="RRULE:FREQ=WEEKLY">Еженедельно</option>
                <option value="RRULE:FREQ=MONTHLY">Ежемесячно</option>
                <option value="RRULE:FREQ=YEARLY">Ежегодно</option>>
            </select>
        </div>
        <div class="form-group">
            <label for="description">Описание события</label>
            <textarea id="description" rows="4">{{context.description}}</textarea>
        </div>
        <button type="submit" id="manage_event" value="{{context.id}}">Создать событие</button>
    </form>
</div>
{% endblock %}


{% block extra_scripts %}
<script>
	try {
	    // Заполняем поля приглашенных
        const attendees = "{{context.attendees}}".split(",")
        attendees.forEach((element) => {
                const newInput = document.createElement("input");
                newInput.type = "text";
                newInput.placeholder = "Укажите email";
                newInput.name = "userEmail";
                newInput.value = element;
                document.getElementById("inputs-container").appendChild(newInput);
        })

	    // Проставляем option согласно recurrence
		recurrence = document.querySelector('option[value="{{context.recurrence}}"]')
		recurrence.setAttribute('selected', true);
	} catch {}

</script>
<script src="/beebeard/frontend/static/js/base.js"></script>
<script src="/beebeard/frontend/static/js/manage_event.js"></script>
{% endblock %}