<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
    <title>{% block title %}Приложение QR-кодов{% endblock %}</title>
    <script src="https://telegram.org/js/telegram-web-app.js"></script>
    <script src="//cdn.jsdelivr.net/npm/eruda"></script>
    <script>eruda.init()</script>   <!--    отключить после тестирования miniapp-->
    <script>
        const tg = window.Telegram.WebApp;
        tg.ready()
        console.log(tg)

        let tgTestInfo = document.getElementById('tgTestInfo')
        tgTestInfo.textContent = JSON.stringify(tg);

    </script>
    {% block extra_head %}{% endblock %}

</head>
    <body>
        <div id="tgTestInfo">
        </div>
        <div class="container">
            {% block content %}{% endblock %}
        </div>

        {% block extra_scripts %}{% endblock %}

        <script>
            let tgTestInfo = document.getElementById('tgTestInfo')
            tgTestInfo.textContent = JSON.stringify(tg);
        </script>
    </body>
</html>